/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  margin: 0;
}

/* Toggle Switch Container */
.toggle-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 8px;
}

/* OS Logos */
.os-logo {
  width: 16px;
  height: 16px;
}

.os-logo:first-child {
  margin-right: 5px;
}

.os-logo:last-child {
  margin-left: 5px;
}

/* Toggle Switch Styles */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 16px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

.slider.round {
  border-radius: 16px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Shortcuts List */
.shortcuts {
  font-size: larger;
  padding-left: 20px;
}

/* Disable transitions when the 'no-transition' class is applied */
.no-transition .slider {
  transition: none;
}

.no-transition .slider:before {
  transition: none;
}
